<!DOCTYPE html>
{% load humanize %}
<html dir="ltr" lang="en-US">
   <head>
    <meta charset="UTF-8" />
    <title>A date range picker for Bootstrap</title>

    <link rel="stylesheet" type="text/css" media="all" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/static/datepicker/css/daterangepicker-bs3.css" />
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/moment/moment.min.js"></script>
    <script type="text/javascript" src="/static/datepicker/js/daterangepicker.js"></script>      
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    </head>
    
    <body>
    <div class="well">
        <div class="span12">
          <h1>Website Rankings </h1> 
            <div class="well">
               <form class="form-inline" role="form" action="/" method="POST">{% csrf_token %}
                 <fieldset>
                  <div class="control-group">
                    <div class="controls">
                     <div class="input-prepend input-group">
                       <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input type="text" style="width: 200px" name="start_end_date" id="start_end_date" class="form-control" value="{{date_range}}" /> 
                     </div>
                    </div>
                  </div>
                  <hr>
                  <div class="control-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                    {% if error %}
                        <h3><span class="label label-danger">Something awful happend ({{ error }})</span></h3>
                    {% endif %}
                  </div>
                 </fieldset>                          
               </form>
               
            </div>
            
            <div>
                {% if ranking%}
                <h4>Top 5 Website ({{date_range}})</h4> 
                <table class="table table-striped">
                <tr>
                    <th>Position</th>
                    <th>Website</th>
                    <th>Visits</th>
                </tr>
                {% with ordered_ranking=ranking|dictsortreversed:"visits" %}
                    {% for a_site in ordered_ranking|slice:":5" %}            
                <tr>            
                    <td>{{ forloop.counter }}</td>
                    <td>{{ a_site.website }}</td>
                    <td>{{ a_site.visits|intcomma }}</td>                    
                </tr>
                    {% endfor %}
                {% endwith %}
                </table>
                {% endif %}
            </div>
        </div>
        {% if ranking%}
        <div id="container_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        {% endif %}
    </body>
    
    <script type="text/javascript">
    $(document).ready(function() {
        
        $('#start_end_date').daterangepicker();
          
        $('#container_chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Website Ranking'
            },
            subtitle: {
                text: 'Date: {{ date_range }}'
            },
            xAxis: {
                categories: [
                    'Website',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Visits'
                }
            },          
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {% for data in ranking|dictsortreversed:"visits" %}{
                name: '{{ data.website }}',
                data: [{{ data.visits }}]
             },
            {% endfor %}         
            ]
        });
    });
    </script>
</html>
